 body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

 .random {
     text-align: center;
 }

 button {
     height: 50px;
     width: 90px;
     outline: none;
     border: none;
     background-color: green;
 }