* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #3C236B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 100px;
    background-color: #ffff;
    width: 650px;
    padding: 30px;
    border-radius: 10px;
}

.To-do-list h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.To-do-list img {
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.input-section {
    width: 100%;
    background-color: #EBEDEE;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

}

.input-section input {
    flex: 1;
    border: none;
    outline: none;
    margin-left: 20px;
    background: transparent;
    color: rgb(39, 38, 38);
    font-size: 20px;
}

.input-section button {
    border: none;
    outline: none;
    background-color: #FF643B;
    padding: 16px 50px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style-type: none;
    font-size: 17px;
    font-weight: bold;
    padding: 12px 10px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(/To-do-list/Images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
}
.checked {
    color: #000;
    text-decoration: line-through;
}
.checked::before {
    background-image: url(/To-do-list/Images/checked.png);
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
}
